* {
  box-sizing: border-box;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.pet-card:hover, .nav-links a, .button {
  transition: all 0.3s ease-out;
}

.nav-links, p, .italic-text, .logo-subtitle {
  font-family: Arial, Verdana, sans-serif;
}

.button, h5, h4, .card-number, h3, h2, h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../assets/fonts/Arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
  font-size: 1.5rem;
}
body.modal-open {
  overflow: hidden;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: normal;
  font-style: normal;
  color: #F1CDB3;
  margin: 0px;
}

.pets-page-logo-title {
  color: #545454;
}

.logo-subtitle {
  font-size: 1.3rem;
  line-height: 115%;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
}

.pets-page-logo-subtitle {
  color: #292929;
}

h2 {
  font-size: 4.4rem;
  line-height: 130%;
  letter-spacing: normal;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
  margin: 0px;
}
@media (max-width: 767px) and (min-width: 320px) {
  h2 {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-weight: normal;
    font-style: normal;
  }
}

h3 {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-weight: normal;
  font-style: normal;
  color: #545454;
  margin: 0px;
}
@media (max-width: 767px) and (min-width: 320px) {
  h3 {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
  }
}

.footer-header {
  color: #FFFFFF;
}

h4, .card-number {
  margin: 0px;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-weight: normal;
  font-style: normal;
  color: #545454;
}
h4.footer-link, .card-number.footer-link {
  color: #F1CDB3;
}
@media (max-width: 767px) and (min-width: 320px) {
  h4.smaller_header, .card-number.smaller_header {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-weight: normal;
    font-style: normal;
  }
}

h5 {
  margin: 0px;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: normal;
  font-style: normal;
  color: #545454;
}
@media (max-width: 767px) and (min-width: 320px) {
  h5.donation {
    letter-spacing: normal;
  }
}

.italic-text {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: normal;
  font-weight: normal;
  font-style: italic;
  color: #B2B2B2;
}
@media (max-width: 767px) and (min-width: 320px) {
  .italic-text {
    text-align: justify;
  }
}

p {
  font-size: 1.5rem;
  line-height: 160%;
  letter-spacing: normal;
  font-weight: normal;
  font-style: normal;
  color: #4C4C4C;
  margin: 0px;
}

.start-text {
  color: #CDCDCD;
}

a {
  text-decoration: none;
}

.button {
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-weight: normal;
  font-style: normal;
  color: #292929;
  border-radius: 100px;
  cursor: pointer;
  padding: 13px 43px;
  box-sizing: border-box;
  border: 2px solid #F1CDB3;
}
.button:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.button__colored {
  background: #F1CDB3;
}
.button__round {
  border-radius: 100%;
  padding: 13px 15px;
}
.button__round__end {
  background: transparent;
  padding: 13px 12px;
}
.button__round__next {
  background: transparent;
  padding: 13px 18px;
}
.button__round__current {
  padding: 13px 20px;
  pointer-events: none;
}
.button__light {
  background: #FAFAFA;
}
.button__gray {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  pointer-events: none;
}

.title {
  margin-bottom: 10px;
}

.logo-subtitle {
  margin: 0 0 0 3px;
}

.burger__line_pets, .burger__line, .burger::after, .burger::before {
  content: "";
  display: inline-block;
  background: #F1CDB3;
  width: 100%;
  height: 2px;
  position: absolute;
}

.burger {
  display: none;
  z-index: 110;
  width: 30px;
  height: 22px;
  position: relative;
}
@media (max-width: 767px) and (min-width: 320px) {
  .burger {
    display: inline-block;
  }
}
.burger::before {
  top: 0;
  left: 0;
}
.burger::after {
  bottom: 0;
  left: 0;
}

.burger_pets::before {
  background-color: #000000;
}
.burger_pets::after {
  background-color: #000000;
}

.burger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.burger__line_pets {
  background-color: #000000;
}

.burger-rotated:nth-child(n) {
  transform: rotate(-90deg);
  transition: all 0.3s;
}

.nav {
  display: flex;
  column-gap: 35px;
  margin: 0;
  padding: 0 2px 2px 0;
}

.nav-links {
  list-style: none;
}
.nav-links a {
  color: #CDCDCD;
}
.nav-links a:hover {
  color: #FFFFFF;
}
.nav-links a.active {
  color: #FFFFFF;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
}
.nav-links a.nav-link-pets {
  color: #545454;
}
.nav-links a.nav-link-pets:hover {
  color: #292929;
}
.nav-links a.nav-link-pets.active {
  color: #292929;
}

@media (max-width: 767px) and (min-width: 320px) {
  .navigation {
    display: none;
  }
}

.burger-menu-container {
  height: 100vh;
  width: 320px;
  background-color: #292929;
  flex-direction: column;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  padding: 30px 0 0 10px;
  transition: all 0.8s;
}

.burger-menu-container.active {
  opacity: 1;
}

.nav-burger {
  display: flex;
  flex-direction: column;
  margin-top: 158px;
  align-items: center;
  row-gap: 40px;
  padding: 0;
}

.burger-links {
  font-size: 3.2rem;
  line-height: 160%;
  letter-spacing: normal;
  font-weight: normal;
  font-style: normal;
}

.overlay {
  position: fixed;
  z-index: 90;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.pet-card {
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 435px;
  row-gap: 30px;
  border-radius: 9px;
}
.pet-card:hover {
  background: #FFFFFF;
}
.pet-card:hover .button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}
@media (max-width: 767px) and (min-width: 320px) {
  .icon {
    row-gap: 20px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .icon_img {
    width: 50px;
    height: 50px;
  }
}

.contact-link {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 1200px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .wrapper {
    padding: 0 10px;
  }
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .header_wrapper {
    padding-top: 30px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .header_wrapper {
    padding-top: 30px;
    padding-right: 51px;
    column-gap: 43px;
    justify-content: space-between;
  }
}

.start_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 42px;
  padding-top: 60px;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .start_wrapper {
    flex-direction: column;
    row-gap: 100px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .start_wrapper {
    flex-direction: column;
    row-gap: 105px;
  }
}

.start-section-text {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  align-items: flex-start;
  margin-bottom: 80px;
  width: 460px;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .start-section-text {
    align-items: center;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .start-section-text {
    align-items: center;
    margin-bottom: 0;
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  h2 {
    align-self: flex-start;
  }
}

.start-section-puppy {
  align-self: flex-end;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .start-section-puppy {
    width: 569px;
    height: 593px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .start-section-puppy {
    width: 260px;
    height: 272px;
  }
}

.about_wrapper {
  display: flex;
  justify-content: center;
  column-gap: 120px;
  align-items: center;
  padding: 80px 0 100px 0;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .about_wrapper {
    flex-direction: column-reverse;
    row-gap: 80px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .about_wrapper {
    flex-direction: column-reverse;
    row-gap: 42px;
    padding: 42px 0;
  }
}

.about-content {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
@media (max-width: 767px) and (min-width: 320px) {
  .about-content {
    width: 300px;
    padding: 0 15px;
    text-align: justify;
  }
}

.about-img {
  width: 260px;
  height: 353px;
}

.about_shelter {
  background: #FFFFFF;
}

.pets_wrapper {
  padding: 80px 0 100px 0;
  text-align: center;
}
@media (max-width: 767px) and (min-width: 320px) {
  .pets_wrapper {
    padding: 42px 0;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 52px;
  margin: 58px 0 62px 0;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .slider {
    column-gap: 12px;
    justify-content: center;
    margin: 60px 0;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .slider {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 50px;
    margin: 42px 0;
  }
}

.pet-cards-block {
  display: flex;
  justify-content: space-between;
  column-gap: 90px;
  /*@include media-mobile {

  }*/
}
@media (max-width: 1279px) and (min-width: 768px) {
  .pet-cards-block {
    column-gap: 40px;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  .third_card {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .third_card {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .second_card {
    display: none;
  }
}

.our-pets {
  background: #F6F6F6;
}

.help_wrapper {
  padding: 80px 0 100px 0;
  text-align: center;
}
@media (max-width: 767px) and (min-width: 320px) {
  .help_wrapper {
    padding: 42px 15px;
  }
}

.help {
  background: #FFFFFF;
}

.icons-layout {
  padding-top: 59px;
  display: flex;
  flex-wrap: wrap;
  gap: 55px 120px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .icons-layout {
    column-gap: 60px;
    row-gap: 55px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .icons-layout {
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-between;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  .icon {
    width: 170px;
    height: 113px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .icon {
    width: 130px;
    height: 87px;
  }
}

.donation_wrapper {
  padding: 80px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .donation_wrapper {
    flex-direction: column-reverse;
    row-gap: 60px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .donation_wrapper {
    flex-direction: column-reverse;
    row-gap: 42px;
    padding: 42px 10px;
  }
}

.donation-content {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  row-gap: 20px;
}
@media (max-width: 767px) and (min-width: 320px) {
  .donation-content {
    max-width: 300px;
    text-align: center;
    padding: 0 9px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .donation_dog {
    width: 260px;
    height: 135px;
  }
}

.donation {
  background: #F6F6F6;
}

.credit-card {
  display: flex;
  column-gap: 15px;
  align-items: center;
  border: 5px solid #F1CDB3;
  background: #F1CDB3;
  width: fit-content;
  border-radius: 9px;
  padding: 5px 10px;
}
.credit-card:hover {
  background: #FDDCC4;
  border: 5px solid #FDDCC4;
}

.footer_wrapper {
  padding-top: 40px;
  display: flex;
  column-gap: 159px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .footer_wrapper {
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 65px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .footer_wrapper {
    flex-wrap: wrap;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
}

.contact-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 43px;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .contact-block {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .contact-block {
    padding-bottom: 0;
  }
}

.footer-block1 {
  row-gap: 40px;
  width: 279px;
}

.footer-block2 {
  row-gap: 33px;
  width: 302px;
}
@media (max-width: 767px) and (min-width: 320px) {
  .footer-block2 {
    row-gap: 40px;
  }
}

.footer-puppy {
  align-self: flex-end;
}
@media (max-width: 767px) and (min-width: 320px) {
  .footer-puppy {
    width: 260px;
    height: 269px;
  }
}

.our-pets-header {
  background: #FFFFFF;
}

.pets-page-wrapper {
  padding: 30px 0 30px 0;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .pets-page-wrapper {
    padding: 30px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .pets-page-wrapper {
    padding: 30px 51px 30px 10px;
    column-gap: 43px;
    justify-content: space-between;
  }
}

.pet-cards-block-pets-page {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  margin: 59px 0 59px 0;
  justify-content: center;
}
@media (max-width: 1279px) and (min-width: 768px) {
  .pet-cards-block-pets-page {
    margin: 76px 0;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .pet-cards-block-pets-page {
    margin: 42px 0;
  }
}

.buttons-block {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
@media (max-width: 767px) and (min-width: 320px) {
  .buttons-block {
    column-gap: 10px;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  .card_8, .card_7 {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .card_8, .card_7, .card_6, .card_5, .card_4 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
