$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #F6F6F6;
$color-light-main: #FFFFFF;
$color-text-light: #CDCDCD;
$color-link-hover: #FAFAFA;
$color-button: #292929;
$color-heading-dark: #545454;
$color-text-dark:#4C4C4C;
$color-italic-text: #B2B2B2;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$background: url('../../assets/images/noise_transparent@2x.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),  linear-gradient(0deg, #211F20, #211F20);