$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #F6F6F6;
$color-light-main: #FFFFFF;
$color-text-light: #CDCDCD;
$color-link-hover: #FAFAFA;
$color-button: #292929;
$color-heading-dark: #545454;
$color-text-dark:#4C4C4C;
$color-italic-text: #B2B2B2;
$color-burger-pets: #000000;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;


