@mixin font ($size, $height, $spacing: normal, $weight: normal, $style: normal) {
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
    font-weight: $weight; 
    font-style: $style; 
    }
