.button {
    @include font (1.7rem, 130%, 0.06em);
    @extend %font-add;
    color: $color-button;
    border-radius: 100px;
    cursor: pointer;
    @extend %transition;
    padding: 13px 43px;
    box-sizing: border-box;
    border: 2px solid $color-primary;
        &:hover {
            background: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
        &__colored {
            background: $color-primary;
        }
        &__round {
            border-radius: 100%;
            padding: 13px 15px;
            &__end {
                background: transparent;
                padding: 13px 12px;
            }
            &__next {
                background: transparent;
                padding: 13px 18px 
            }
            &__current {
                padding: 13px 20px;
                pointer-events: none;
            }
        }
        &__light {
            background:  $color-link-hover; 
        }
        &__gray {
            border: 2px solid $color-text-light;
            color: $color-text-light;
            pointer-events: none;
        }
    }