.donation_wrapper {
    padding: 80px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    @include media-tablet {
        flex-direction: column-reverse;
        row-gap: 60px;
    }
    @include media-mobile {
        flex-direction: column-reverse;
        row-gap: 42px;
        padding: 42px 10px;
    }
    
}

.donation-content {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    row-gap: 20px;
    @include media-mobile {
        max-width: 300px;
        text-align: center;
        padding: 0 9px;
    }
}

.donation_dog {
    @include media-mobile {
        width: 260px;
        height: 135px;
    }
}

.donation {
    background: $color-light;
}

.credit-card {
    display: flex;
    column-gap: 15px;
    align-items: center;
    border: 5px solid  $color-primary;
    background: $color-primary;
    width: fit-content;
    border-radius: 9px;
    padding: 5px 10px;
    &:hover {
        background: $color-primary-light;
        border: 5px solid $color-primary-light;
    }
    }