.footer_wrapper {
    padding-top: 40px;
    display: flex;
    column-gap: 160px;
    flex-wrap: wrap;
    column-gap: 159px;
    row-gap: 65px;
    justify-content: space-between;
    align-items: center;
}

.contact-block {
    display: flex;
    flex-direction: column;
    padding-bottom: 43px;
}
.footer-block1 {
    row-gap: 40px;
    width: 279px;
}

.footer-block2 {
    row-gap: 33px;
    width: 302px;
}