.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    @include media-tablet {
        padding-top:  30px;
    }
    @include media-mobile {
        padding-top: 30px;
        column-gap: 43px;
        justify-content: flex-start;
    }
}


