.help_wrapper {
    padding: 80px 0 100px 0;
    text-align: center;
    @include media-mobile {
        padding: 42px 15px;
    }
}

.help {
    background: $color-light-main;
}

.icons-layout {
    padding-top: 59px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    align-items: center;
    justify-content: center;
    @include media-tablet {
        column-gap: 60px;
        row-gap: 55px;
    }
    @include media-mobile {
        column-gap: 30px;
        row-gap: 30px;
        justify-content: space-between;
}
}

.icon {
    @include media-tablet {
        width: 170px;
        height: 113px;
    }
    @include media-mobile {
        width: 130px;
        height: 87px;
    }
}