.pets_wrapper {
    padding: 80px 0 100px 0;
    text-align: center;
    @include media-mobile {
        padding: 42px 0;
    }
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 52px;
    margin: 58px 0 62px 0;
    @include media-tablet {
        column-gap: 12px;
        justify-content: center;
        margin: 60px 0;
    }
    @include media-mobile {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 80px;
        row-gap: 50px;
        margin: 42px 0;
    }
}



.pet-cards-block {
    display: flex;
    justify-content: space-between;
    column-gap: 90px;
    @include media-tablet {
        column-gap: 40px;
    }
    @include media-mobile {
        order: -1;
    }
}

.third_card {
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}

.second_card {
    @include media-mobile {
        display: none;
    }
}

.our-pets {
    background: $color-light;
}

