.start_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 42px;
    padding-top: 60px;
}

.start-section-text {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    align-items: flex-start;
    margin-bottom: 80px;
}
.start-section-puppy {
    align-self: flex-end;
}